.body-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 25px;
  min-height: calc(100vh - (79px + 30px));
  overflow: auto;
  .product-card {
    white-space: nowrap;
    height: 300px;
    padding: 15px;
    box-shadow: 0px 0px 10px lightgrey;
    margin-right: 20px;
    text-align: center;
    margin: 10;
    margin-bottom: 29px;
  }
  .product-card:hover {
    cursor: pointer;
  }
}
