.container-fluid {
  height: 79px;
  background: #075db3;
  img {
    width: 122px;
    height: 87px;
    position: relative;
    bottom: 3px;
  }
  i {
    float: right;
    color: white;
    font-size: 30px;
    margin-top: 25px;
    margin-right: 18px;
  }
}
